.bold-cell {
  font-weight: bold;
}
.table-container {
  margin: auto;
  text-align: center; /* Centering the table content */
}

.checkbox-cell {
  text-align: left; /* Aligning the checkbox column to the left */
}
body {
  background: linear-gradient(to top, #2980b9, #6dd5fa);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}